.header {
    display: flex;
    flex: 1;
    padding: 10px;

    .title {
        display: flex;
        flex: 1;
        font-size: 2.5rem;
        font-weight: bold;

        .icon {
            display: flex;
            margin-right: 10px;
            font-style: normal;
        }
    }
}