.button, button.button {
    background: var(--black);
    border: 1px transparent solid;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white);
    font-weight: 700;
    font-size: 1.7rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    transform: scale(1);

    &:hover {
        background: var(--white);
        color: var(--black);
        border: 1px var(--black) solid;
        opacity: 1 !important;
    }

    &.negative {
        &:hover {
            background: var(--red);
        }
    }

    &.white {
        background: var(--white);
        border: 1px #DDD solid;
        color: var(--black);

        &:hover {
            background: #EEE;
            color: var(--black);
        }
    }

    &.primary {
        background: var(--blue);
        
        &:hover {
            background: var(--blueDark);
            border: 1px transparent solid;
            color: #FFF;
        }
    }
}