.button {
    background: var(--black);
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white) !important;
    font-weight: 700;
    font-size: 1.7rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    transform: scale(1);

    &:hover {
        background: var(--blue);
        opacity: 1 !important;
    }

    &.negative {
        &:hover {
            background: var(--red);
        }
    }

    &.primary {
        background: var(--blue);
        
        &:hover {
            background: var(--blueDark);
        }
    }
}