.main {
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all ease 0.3s;

    .wrap {
        display: inherit;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        height: inherit;
        width: var(--pageWidth);

        &.full {
            width: 100%;
        }

        .logo_link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 11px 0;

            svg.logo_img {
                path {
                    fill: var(--black);
                }
            }
        }

        .nav {
            display: flex;
            align-items: center;
            list-style: none;

            li.item {
                display: flex;
                margin-left: 40px;

                &:last-child {
                    margin-left: 40px;
                }

                a.link {
                    color: var(--black);
                    font-size: 3rem;
                    font-weight: 400;
                    text-decoration: none;

                    &.selected {
                        font-variation-settings: 'FILL' 1;
                    }
                }
            }
        }
    }
}

.sticky {
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.1);
}