.main {
    display: flex;
    flex: 1;
    min-height: 500px;

    .content {
        display: flex;
        flex-direction: column;
        flex: 1;

        .header {
            border-bottom: 1px #EEE solid;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;

            h4 {
                font-size: 1.6rem;
                font-weight: bold;
            }
        }

        .editor {
            display: flex; 
            flex-direction: column;
            margin: 10px;
            padding: 10px;

            * {
                font-size: 2rem;
            }
        }

        .updates {
            background: #FBFBFB;
            border-bottom: 1px #DDD solid;
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}
