.footer {
    background: var(--background);
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: var(--pageWidth);

        .copyright {
            display: flex;
            font-size: 1.8rem;
            font-weight: 800;
        }
    
        ul {
            display: flex;
            list-style: none;
            margin-left: 30px;
            gap: 40px;
    
            li {
                display: flex;
    
                a {
                    font-size: 1.6rem;
                    font-weight: 700;
                }
            }
        }
    
        .madeIn {
            display: flex;
            font-size: 1.6rem;
            font-weight: 700;
    
            .heart {
                color: #ff0000;
                padding: 0 5px;
            }
        }
    }
}