.main {
    display: flex;
    flex-direction: column;

    .navigation {
        border-bottom: 1px var(--borderColor) solid;
        display: flex;
        justify-content: flex-start;
        align-self: center;
        gap: 25px;
        padding-left: 50px;
        width: 100%;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;

            a.text {
                color: var(--textColor);
                border-bottom: 4px solid transparent;
                display: flex;
                padding: 10px;
                font-size: 1.7rem;
                font-weight: bold;

                &.selected {
                    border-bottom: 4px solid var(--textColor);
                }
            }
        }
    }
    
    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}