.main {
  display: flex;
  flex-direction: column;

  .navigation {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    gap: 25px;
    padding: 0 50px;
    width: 100%;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;

      a.text {
        background: var(--highlightColor);
        border-radius: 8px;
        color: var(--textColor);
        display: flex;
        padding: 5px 20px;
        font-size: 1.5rem;
        font-weight: bold;

        &:hover {
          background: var(--highlightColor);
        }

        &.selected,
        &.selected:hover {
          background: var(--textColor);
          color: var(--background);
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
