.explore {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100%;

    .content {
        display: flex;
        flex-direction: column;
        min-height: 100px;

        .usersList {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            .userItem {
                display: flex;
                flex-direction: column;
                min-height: 200px;

                .link {
                    display: flex;
                    border-radius: 10px;
                    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
                    flex-direction: column;
                    height: 275px;
                    overflow: hidden;
                    transition: all ease 0.2s;

                    &:active {
                        box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
                    }

                    .picture {
                        background-color: var(--green);
                        display: flex;
                        flex:3;
                        overflow: hidden;
                    }
    
                    .account_info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        flex: 1;
                        padding: 10px;

                        .name {
                            font-size: 1.8rem;
                            font-weight: bold;
                        }
    
                        .username {
                            font-size: 1.6rem;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 50px;
            gap: 5px;

            li {
                display: flex;
                overflow: hidden;

                a.link {
                    border: 2px #DDD solid;
                    border-radius: 5px;
                    font-size: 1.8rem;
                    padding: 5px 15px;
                    opacity: 0.8;

                    &:hover {
                        background: #F1F1F1;
                    }

                    &.selected {
                        border: 2px var(--blue) solid;
                        color: var(--blue);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
