html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #edf2f7;
  --primaryColor: #007bff;
  --secondaryColor: #BB1717;
  --input-background: #FFFFFF;
  --blue: #007BFF;
  --blueDark: #0069D9;
  --blueLight: #3D94F2;
  --blueLightest:#edf2f7;
  --blueLighter: #d4dce4;
  --red: #BB1717;
  --redDark: #E91A1A;
  --green: #0E8813;
  --greenDark: #0FB416;
  --white: #FFFFFF;
}