@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredoka:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: var(--background);
  color: var(--black);
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --primaryColor: #007AFF; 
  --secondaryColor: #BB1717;
  --input-background: #FFFFFF;

  --blueLight: #479EFE;
  --blue: #007AFF;
  --blueDark: #0062CD;

  --red: #DD4343;
  --redLight: #f78d88;
  --redDark: #d31d13;

  --purple: #7B56FF;
  --green: #00B48B;
  --greenDark: #008164;
  --greenLight: #44D7B6;
  --green100: #F4FFFD;
  --green200: #EBFFFA;
  --green300: #7FE2C9;
  --green600: #013E30;

  --yellow: #f5f0ae;
  --yellowDark: #fcc55c;

  --orange: #f7941e;
  --orangeDark: #f76707;

  --aqua: #b1e2be;
  --aquaDark: #9cd3ab;

  --white: #FFF;
  --white100: #FAF6EB;
  --white200: #f1ecd5;

  --black: #000000;

  --selectionColor: #007AFF;
  --placeholderColor: #8E8E8E;

  --pageWidth: 1200px;
}

.Toastify__toast {
  font-size: 1.8rem;
}

::selection {
  background: var(--selectionColor);
  color: var(--white);
}

input::placeholder {
  color: var(--placeholderColor);
}