.profile {
    display: flex;
    flex: 1;
    width: 100%;

    .main {
        display: flex;
        flex: 1;
        flex-direction: column;

        .header {
            display: flex;
            flex-direction: column;
            padding: 50px;

            .details {
                display: flex;
                gap: 25px;

                .avatar_holder {
                    background: #FFF;
                    border-radius: 50%;

                    display: flex;
                    height: 135px;
                    width: 135px;
                    overflow: hidden;

                    .avatar {
                        background: var(--white);
                        border: 1px #DDD solid;
                        border-radius: 50%;
                        display: flex;
                        flex: 1;
                        position: relative;
                        height: 135px;
                        width: 135px;

                        .loader {
                            background: rgba(255, 255, 255, 0.8);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 100;
                            height: 135px;
                            width: 135px;

                            .icon {
                                font-size: 4rem;
                                animation: spin .5s infinite;
                            }
                        }

                        .curtain {
                            border-radius: 50%;
                            display: none;
                            flex: 1;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            background: rgba(0,0,0,0.8);
                            position: absolute;
                            left: 0;
                            top: 0;
                            z-index: 100;
                            height: 135px;
                            width: 135px;

                            .icon {
                                color: #FFF;
                                display: flex;
                                flex: 1;
                                align-items: center;
                                justify-content: center;
                                font-size: 3rem;
                            }
                        }

                        &:hover .curtain {
                            display: flex;
                        }
                    }
                }

                .user_info {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    gap: 5px;

                    .profileActions {
                        display: flex;
                        flex: 1;
                        justify-content: space-between;
                        align-items: center;

                        .name {
                            display: flex;
                            align-items: center;
                            gap: 5px;
        
                            h2.text {
                                display: flex;
                                font-size: 2.5rem;
                                font-weight: bold;
                            }
                        }

                        .actions {
                            display: flex;
                            gap: 10px;
                        }
                    }

                    .username {
                        display: flex;

                        .text {
                            font-size: 2rem;
                            font-weight: 500;
                        }

                        .joined {
                            background: #EEE;
                            border-radius: 20px;
                            color: #555;
                            display: flex;
                            font-size: 1.2rem;
                            font-weight: bold;
                            align-items: center;
                            justify-content: center;
                            padding: 0 15px;
                            margin-left: 10px;
                        }
                    }

                    .description {
                        display: flex;
                        flex-direction: column;
                        font-size: 1.6rem;
                        font-weight: 400;
                    }

                    .website {
                        display: block;

                        .text {
                            display: inline-block;
                            color: var(--blueDark);
                            font-size: 1.6rem;
                            font-weight: 600;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .community {
                        display: flex;
                        gap: 20px;
                        padding-top: 10px;

                        .text {
                            display: flex;
                            font-size: 1.6rem;
                            align-items: center;
                            gap: 5px;

                            &:hover {
                                color: var(--blueDark);
                            }
                            
                            .number {
                                font-weight: bold;
                            }

                            .label {
                                font-weight: 400;
                            }
                        }
                    }

                    .wallet {
                        color: #212121;
                        padding: 5px 0;
                        display: flex;
                        flex: 1;
                        align-items: center;
                        margin: 5px 0;
                        gap: 5px;

                        .icon {
                            display: flex;
                        }

                        .text {
                            font-size: 1.6rem;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .navigation {
            border-bottom: 1px #EEE solid;
            display: flex;
            justify-content: center;
            align-self: center;
            gap: 5px;
            padding: 15px 0;
            width: 100%;

            .item {
                display: flex;
                justify-content: center;
                align-items: center;

                a.text {
                    display: flex;
                    padding: 5px 20px;
                    font-size: 1.6rem;
                    font-weight: bold;

                    &.selected {
                        background: var(--blue);
                        border-radius: 30px;
                        color: var(--white);
                    }
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
    .rightCol {
        border-left: 1px #EEE solid;
        display: flex;
        width: 360px;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
