.main {
    border-top: 1px #DDD solid;
    display: flex;
    height: 100%;
    width: 100%;

    .sideBar {
        background: #FFF;
        display: flex;
        flex: 1;
        border-right: 1px #DDD solid;
        flex-direction: column;
        padding-top: 25px;

        .menu {
            display: flex;
            flex-direction: column;

            .item {
                display: flex;
                flex: 1;
                align-items: center;

                .link {
                    border-left: 3px transparent solid;
                    display: flex;
                    flex: 1;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 10px;
                    gap: 10px;
                    font-size: 1.6rem;
                    font-weight: 400;

                    .holder {
                        display: flex;
                        gap: 10px;

                        .icon {
                            display: flex;
                            color: var(--black);
                        }
    
                        .text {
                            display: flex;
                        }
                    }

                    .icon {
                        color: #888;
                    }

                    &:hover {
                        background: #EEE;
                    }
    
                    &.selected {
                        background: #EEE;
                        border-left: 3px var(--blueDark) solid;
                    }
                }
            }
        }
    }

    .content {
        display: flex;
        flex: 2;
        flex-direction: column;
        padding: 10px 50px;

        .header {
            display: flex;
            margin-bottom: 20px;

            .title {
                display: flex;
                font-size: 3rem;
                font-weight: bold;
            }
        }

        .form {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 30px;

            .input {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .value {
                    color: #777;
                    display: flex;
                    justify-content: space-between;
                    background: #F5F5F5;
                    border: 2px #DDD solid;
                    border-radius: 5px;
                    padding: 10px;

                    .text {
                        font-size: 1.8rem;
                        font-weight: 500;
                    }

                    .icon {
                        display: flex;
                        color: #AAA;
                        transform: rotateX(180deg);
                        cursor: pointer;

                        &:hover {
                            color: #777;
                        }
                    }
                }

                label {
                    font-size: 1.8rem;
                    font-weight: 600;
                }

                input {
                    display: flex;
                    flex: 1;
                    border: 2px #DDD solid;
                    border-radius: 5px;
                    padding: 10px;
                    font-size: 1.8rem;
                    width: 100%;
                }

                textarea {
                    display: flex;
                    border: 2px #DDD solid;
                    border-radius: 5px;
                    padding: 10px;
                    font-size: 1.6rem;
                    width: 100%;
                    height: 125px;
                    resize: none;
                }
            }
            .button {
                padding: 10px;
                font-size: 2rem;
            }
        }
    }
}