@import "/styles/mixins.scss";

.appLayout {
    background: #FFFFFF;
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;

    .wrap {
        display: flex;
        flex: 1;
        width: 100%;

        .appSideBar {
            background: #F8F8F8;
            display: flex;
            height: 100vh;
            width: 70px;
            overflow-y: auto;

            .appList {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: center;
                padding-top: 20px;
                gap: 20px;

                .appItem {
                    border-radius: 10px;
                    color: #222;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 50px;

                    .appLink {
                        border-left: 4px transparent solid;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 15px 18px;
                        align-items: center;

                        .icon {
                            font-variation-settings: 'FILL' 1;
                            color: #222;
                            font-size: 3rem;
                        }
    
                        .appName {
                            font-size: 1.4rem;
                            font-weight: 400;
                        }

                        &.selected {
                            border-left: 4px var(--greenDark) solid;
                            
                            .icon {
                                color: var(--greenDark);
                            }

                            .appName {
                                color: var(--greenDark);
                            }
                        }
                    }
                }
            }
        }
        
        .sidebar {
            background: #F6F6F6;
            border-right: 1px solid #E6E6E6;
            box-shadow: -10px 0px 30px rgba(0,0,0,0.1);
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            height: 100vh;
            width: 300px;
            overflow: hidden;
            overflow-y: auto;

            /* width */
            &::-webkit-scrollbar {
                background-color: transparent;
                width: 5px;
                margin: 0;
                padding: 0;
                z-index: 100;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background: transparent;
                width: 0;
                margin: 0;
                padding: 0; 
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                display: none;
                background: #888; 
                border-radius: 3px;
            }

            &:hover::-webkit-scrollbar-thumb {
                display: block;
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            .logo {
                background: #F6F6F6;
                border-bottom: 1px #E1E1E1 solid;
                position: sticky;
                top: 0;
                align-self: flex-start;
                padding: 20px;
                width: 100%;
            }

            .filter {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 20px;
                margin-bottom: 40px;

                .title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;

                    .text {
                        color: #666;
                        font-size: 1.8rem;
                        font-weight: 600;
                    }

                    .link {
                        display: flex;
                        align-items: center;
                    }
                }

                .filterItem {
                    display: flex;
                    align-items: center;

                    .link {
                        border-radius: 5px;
                        display: flex;
                        flex: 1;
                        align-items: center;
                        gap: 10px;
                        padding: 10px;
                        margin: 0 10px;
                        font-size: 1.6rem;
                        font-weight: 500;

                        &.selected {
                            background: var(--greenDark);
                            color: var(--white);

                            &:hover {
                                background: var(--greenDark);
                            }

                            .icon {
                                color: var(--white);
                            }
                        }

                        &:hover {
                            background: #DDD;
                        }
                    }
                }
            }
        }

        .content {
            display: flex;
            flex: 1;
            background: #FAFAFA;
            height: 100vh;
            overflow-y: scroll;
        }
    }
}